<div class="table-wrapper">
    <div class="orders-header">
        <button pButton type="button" label="Add New Order" (click)="showDialog()" class="p-button-raised p-button-info"></button>
    </div>

    <p-table [value]="orders" [paginator]="true" [rows]="7">
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center">Order ID</th>
                <th class="text-center">Total Price</th>
                <th class="text-center">Payment Type</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-order>
            <tr [ngClass]="{'table-row': true, 'table-row-hover': true}" routerLink="/orders/{{order.OrderId}}">
                <td class="equal-width text-center">{{ order.OrderId }}</td>
                <td class="equal-width text-center">{{ order.totalPrice | currency }}</td>
                <td class="equal-width text-center">{{ order.PaymentType }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog header="Add New Order" [(visible)]="displayDialog" (onHide)="hideDialogAndReset();orderForm.reset()" 
                                 [modal]="true" [style]="{ 'width': '800px' }">
    <form #orderForm="ngForm" (ngSubmit)="addOrder()">
        <div class="p-fluid">
            <div class="row mb-3">
                <div class="col-md-6 col-sm-6">
                    <div class="p-field">
                        <label for="clientName">Client Name</label>
                        <input type="text" pInputText id="clientName" name="clientName" [(ngModel)]="newOrder.clientName" required />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="p-field">
                        <label for="clientEmail">Client Email</label>
                        <input type="email" pInputText id="clientEmail" name="clientEmail" [(ngModel)]="newOrder.clientEmail" required />
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="p-field">
                        <label for="clientPhone">Client Phone</label>
                        <p-inputNumber id="clientPhone" name="clientPhone" [(ngModel)]="newOrder.clientPhone" required></p-inputNumber>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="p-field" style="position: relative;">
                        <label for="paymentMethod">Payment Method</label>
                        <i class="pi pi-angle-down" style="font-size: 2rem"></i>
                        <select id="paymentMethod" name="paymentMethod" class="paymentMethod" [(ngModel)]="newOrder.PaymentType" required>
                            <option value="" disabled selected>Select Payment Method</option>
                            <option *ngFor="let method of paymentMethods" [value]="method">{{ method }}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div *ngIf="showProductFields">
                <div class="p-fluid">
                    <div class="row py-3" style="background-color: gainsboro;">
                        <div class="col-md-6 col-sm-6">
                            <label for="ProductId">Product ID</label>
                            <p-inputNumber id="ProductId" name="ProductId" [(ngModel)]="ProductId" required></p-inputNumber>
                        </div>
                        <div class="col-md-6 col-sm-6">
                            <label for="Quantity">Quantity</label>
                            <p-inputNumber id="Quantity" name="Quantity" [(ngModel)]="Quantity" required></p-inputNumber>
                        </div>
                        <div class="d-flex justify-content-end mt-3" *ngIf="showProductFields">
                            <button type="button" style="width: fit-content !important;"  [disabled]="!ProductId || !Quantity" pButton label="Add" (click)="addProduct()" class="p-button-secondary  me-3"></button>
                            <button type="button" style="width: fit-content !important;"  pButton label="Cancel" (click)="resetProductFields()" class="p-button-secondary"></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-field mt-3">
                <div class="d-flex justify-content-end mb-3" *ngIf="!showProductFields">
                    <button type="button" style="width: fit-content !important;"  pButton label="Add New Product" (click)="toggleProductFields(true)" class="p-button-secondary"></button>
                </div>
            </div>
            <div class="p-field">
                <table *ngIf="newOrder.products.length > 0">
                    <thead>
                      <tr>
                        <th scope="col">Product ID</th>
                        <th scope="col">Quantity</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let product of newOrder.products">
                        <td>{{ product.ProductId }}</td>
                        <td>{{ product.Quantity }}</td>
                      </tr>
                    </tbody>
                  </table>
                <!-- <ul>
                    <li *ngFor="let product of newOrder.products">{{ product.ProductId }} - {{ product.Quantity }}</li>
                </ul> -->
            </div>
        </div>
        <div class="p-dialog-footer">
            <button type="button" pButton label="Cancel" class="p-button-secondary me-3" (click)="hideDialogAndReset();orderForm.reset()" ></button>
            <button type="submit" pButton label="Add Order" class="p-button-primary" [disabled]="!orderForm.valid || newOrder.products.length === 0"></button>
        </div>
    </form>
</p-dialog>
